/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/nbproject
.DS_Store
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
phpunit.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
